@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body {
    font-family: "nunito", sans-serif;
    background: linear-gradient(to bottom, #000000, #0B003C);
    background-repeat: no-repeat;
    height: 100%;
}

.navigationbar {
    box-shadow: 1px 35px 100px -24px rgba(0, 27, 255, 0.5);
    background-color: #0b003c88;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    align-items: center;
    height: 80px;
    padding-bottom: 20px;
}

.logo {
    width: 50px;
    max-width: auto;
    margin-top: 30px;
}

.nav-brand {
    font-size: 30px;
    font-weight: 600;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}


.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.nav-a {
    display: block;
    font-family: "nunito", sans-serif;
    font-weight: bold;
    margin: 10px 15px 0;
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-a::after {
    content: "";
    display: block;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    transition: 0.3s linear;
    transform: scaleX(0);
}

.nav-a:hover::after {
    transform: scaleX(0.5);
}


.container-konten {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 0;
    padding: 0 15px;
}

.text-konten {
    display: block;
    align-items: flex-start;
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-top: 10px;
}

.h2-konten {
    margin-bottom: 10px;
}

.p-konten {
    margin: 0;
    font-size: 16px;
}

.container-gambar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10%;
}

.gambar {
    border-radius: 30px;
    width: 100%;
    height: 50%;
}

.hamburger {
    display: none;
    font-size: 28px;
}

.misivisi {
    display: block;
    align-items: flex-start;
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-top: 10px;
    margin: 30px;
}

.h2misivisi{
    margin-bottom: 15px;
}

.form {
    display: flex;
    background: linear-gradient(to bottom, #000000, #0B003C);
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


.form-dalam {
    padding: 35px;
}

.h2-message {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.isi-form {
    padding-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 0;
}

.teks-form {
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.radiogrup-label {
    display: flex;
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
}

.radio-grup {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
}


.input {
    width: 100%;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.pesan {
    background: linear-gradient(90deg, #9fd3ff, #e6f4ff, #9fd3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.textarea {
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 100%;
}


.submit {
    width: 100%;
    max-width: 100%;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
}

.hasil-form {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.hasil-waktu {
    padding-bottom: 40px;
}

.hasil-sisanya {
    padding-bottom: 20px;
    text-decoration: 0;
}


/* mobile */


@media (max-width: 768px) {
    .hidden {
        display: none;
    }

    .hamburger {
        display: flex;
        align-items: center;
        color: white;
        width: 40px;
    }


    .nav-brand {
        margin-left: 20px;
        font-size: 30px;
        font-weight: 600;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000000, #0B003C);
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;
}

.hasil-form {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.radio-grup {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px;
}

.radio-grup {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px;
}